{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> LETGO API TWITTER TEST, done with SYMFONY  {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>

            <div id="status">
                <p>
                    <svg id="icon-status" width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#759E1A"/></svg>

                    Your application is now ready. You can start checking at the URLs:
                    <br/>
                    <br/>
                    <code> http://api.letgolocalhost.com/api/v1/twitter/last-tweets/lonelyplanet/10 </code>
                    <br/>
                    <br/>
                    <code> http://api.letgolocalhost.com/api/v1/twitter/info </code>
                </p>
            </div>

            <div id="next">
                <h2>Issues implemented and requested by you, not a 3 hours test!! :)</h2>
                <p>
                    Federico d' Alessio ask me this:


                    Letgo technical test

                    We need a small REST API with one endpoint that given a Twitter username, should return the user’s last 10 tweets, in JSON format.

                    Feel free to use any frameworks or libraries you need.
                    If you want to use a framework, take into account that we use Symfony2.
                    The application should not save anything to MySQL or to any other relational DB.


                    We will value:

                    Code tested with Behat and/or PHPUnit (or with any other testing tool).
                    The code's architecture and the paradigm usage like Hexagonal Architecture and DDD.


                    Bonus:

                    Improve the application’s speed caching the response using Memcache(d), Redis or any other system you may know.
                </p>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
